/* spacing */
html, body {
    margin: 0px;
    height:100%;
}

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }

/*************************************************************************************************************/
.menuBar {
    background-color: rgb(86, 88, 90);
    width : 100vw;
    height: 30px;
    display: flex;
}

.menuButton {
    display:inline-flex;
    user-select: none;
    height : 100%;
    color: whitesmoke;
    text-align:center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

}
.menuBar label:hover {
    cursor: pointer;
    background-color: rgb(125, 128, 131);
}

/*************************************************************************************************************/
.activeMenu {
    width : 100vw;
    background-color: rgb(76, 78, 80);
    font-size: small;
}

table.connectInput {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    border: 0px solid;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    margin: 5px;
    color: whitesmoke;
    user-select: none;
}

table.connectInput:nth-child(1) {
    width: 20%;
}


.connectValueInput {
    background-color: rgb(125, 128, 131);
    color: whitesmoke;
    border-style: none;
    margin-left: 5px;
    margin-right: 5px;
    text-align: right;
    padding: 0px;
}

.connectButtons {
    border-right: 2px solid grey;
    padding: 5px;
    user-select: none;
}

.connectButtons > * {
    padding: 5px;
    width: 120px;
    text-align: center;
}

.status {
    background-color: rgb(37, 39, 41);
    color: whitesmoke;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    font-size: 80%;
    border: none;
    padding: 1%;
}

.connectMenu {
    display: flex;
}

.Connect {
    background-color: #587093;
    cursor: pointer;
}

.Connecting {
    background-color: orange;
}

.Connected {
    background-color: limegreen;
}

.Disconnect {
    background-color: rgb(103, 105, 107);
}

/*****************************************************************************************/

.importRegister input {
    opacity: 0;
}

table.regTable {
    table-layout: fixed;
    width: 70%;
    border-collapse: collapse;
    border: 1px solid;
    margin: 5px;
  }

.regTable thead th:nth-child(1) {
    width: 5%;
  }

.regTable thead th:nth-child(2) {
    width: 10%;
  }

.regTable thead th:nth-child(3) {
    width: 5%;
  }

.regTable thead th:nth-child(4) {
    width: 10%;
  }

.regTable thead th:nth-child(5) {
    width: 5%;
  }

.regTable thead th:nth-child(6) {
    width: 5%;
  }

.regTable th, td {
    padding: 1px;
  }

  /* typography */




.regTable tbody td {
    text-align: center;
  }

.regTable tfoot th {
    text-align: center;
    cursor: pointer;
  }


.regTable thead, tfoot {
      background-color: #587093;
      color: whitesmoke;
  }

.regTable tbody tr:nth-child(even) {
    background-color: #c0c3c6
  }

