html, body {
    margin: 0px;;
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.application {
    min-height: 100%;
    display: grid;
    grid-template-rows: 30px 90px 100% 90px 30px;
    grid-template-columns: 60px 2fr 1fr;
    grid-auto-rows: 100px;
}

.menu_bar {
    background-color: rgb(90, 90, 90);
    color: whitesmoke;
    grid-row-start: 1;
    grid-row-end:2;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
}

.menu_bar > * {
    user-select: none;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    display:inline-flex;
    text-align:center;
    align-items: center;
}

.menu_bar_activated {
    background-color: rgb(126, 124, 124);
}

.menu_bar > *:hover {
    background-color: rgb(126, 124, 124);
    cursor: pointer;
}

.menu_bar_extension {
    background-color: rgb(126, 124, 124);
    color: whitesmoke;
    grid-row-start: 2;
    grid-row-end:3;
    grid-column-start: 1;
    grid-column-end: 3;
    z-index: 2;
    display: flex;
}

.connect_menu_extension {

}

.side_bar {
    background-color: rgb(70, 70, 70);
    color: whitesmoke;
    grid-row-start: 2;
    grid-row-end:5;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side_bar > * {
    color: rgba(0, 0, 0, 0.54);
    margin-top: 10px;
    margin-bottom: 10px;
}

.side_bar > *:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.tables {
    background-color: rgb(45, 41, 49);
    color: whitesmoke;
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
}

.command_bar {
    background-color: rgb(70, 70, 70);
    grid-row: 2 / 5;
    grid-column: 3 / 4;

}

.status_bar {
    background-color: rgb(105, 75, 109);
    color: whitesmoke;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start:1;
    grid-column-end: 4;
}

.status_bar_expanded {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;

}

/*****************************************************************************************/





@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(font/MaterialIcons-Regular.woff2) format('woff2'),
      url(font/MaterialIcons-Regular.woff) format('woff'),
      url(font/MaterialIcons-Regular.ttf) format('truetype');
  }

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }